:root {
    --color-white: rgb(255, 255, 255);
}

* {
    box-sizing: border-box;
}

html {
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    /* these are specific to different browsers */
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body {
    background-color: black;
    color: var(--color-white);
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(159, 255, 158, 0.918);
    color: black;
    padding: 20px;
}

footer {
    padding: 20px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    /* padding: 20px; */
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left, .right {
    /* background-color: rgb(90, 90, 90); */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    width: 50%;
    padding: 25px;
    flex-grow: 1; 
}

.box {
    /* background-color: rgb(75, 75, 150); */
}

h1 {

}

h2 {
    margin-top: 0;
}

.box {
    min-height: 20vh;
    /* background-color: #ccc; */
}
/* 
.button {
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #000000;
    border: none;
    border-radius: 15px;
    box-shadow: 2px 2px #999999;
  }
  
  .button:hover {
    background-color: var(--color-white);
  }
  
  .button:active {
    background-color: var(--color-white);
    color: black;
    box-shadow: 0 5px #666666;
  } */


  #hotspot {
    height: 30px;
    width: 60%;
  }

  #results_box {
      height: 45vh;
      overflow-y: auto;
      border: 1px solid #ccc;
      padding: 10px;
      margin-top: 10px;
      background-color: white;
      color: black;
  }

  #results_box output {
    border-style: solid;
  }

#map {
    display: block;      
    height: 50vh;     
    width: 100%;   
    margin-bottom: 1rem; 
}



/* MEDIA QUERY (MOBILE) */

@media only screen and (max-width: 736px){

  
}